.Lens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  text-align: center;
  padding: 0 10px;
  height: 42px;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 600;
  white-space: break-spaces;
  user-select: none;
  position: relative;
  background: transparent;
  color: #0bb81c;
  border: 1px solid #0bb81c;
  cursor: pointer;
  
  svg {
    border-radius: 0.25rem;
  }
  
  &:hover {
    color: #12ee28;
    border: 1px solid #12ee28;
  }
}
